<%- include('layouts/header') %>
<div class="container mt-5">
    <div class="alert alert-danger">
        <h1>Hiba történt!</h1>
        <p><%= message %></p>
        <a href="/" class="btn btn-outline-danger mt-3">Vissza a főoldalra</a>
    </div>
</div>
<%- include('layouts/footer') %>