<%- include('layouts/header') %>
<div class="text-center mt-5">
    <div class="display-1 text-success"><i class="bi bi-check-circle"></i></div>
    <h1 class="mt-3">Köszönjük a vásárlást!</h1>
    <p class="lead">A rendelésedet rögzítettük, a raktárkészletet frissítettük.</p>
    <a href="/" class="btn btn-primary btn-lg mt-4">Vissza a főoldalra</a>
</div>
<%- include('layouts/footer') %>